body {
    font-family: 'Raleway', sans-serif;
}
.main_width {
    width: 1056px;
    margin: 0 auto;
}
.header {
    height: 40px;
    background-color: black;
}
.sitonchair {
    color: white;
    float: left;
}
span {
    color: #28cfb5;
}
.SOC {
    font-size: 14px;
    margin-top: 1px;
}
.menu {
    float: right;
    margin-top: -5px;
}
.link {
    color: white;
    padding-left: 40px;
    font-size: 14px;
    text-decoration: none;
}
.lista1 {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 50px;
}
.lista2 {
    list-style-type: none;
    margin-top: 10px;
}
.link2 {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 14px;
    word-spacing: 3px;
}
.ul1 {
    position: relative;
}
.ul2 {
    position: absolute;
    margin-top: 30px;
    height: 100px;
    width: 120px;
    background-color: black;
    padding: 0;
    margin-left: 10px;
    text-align: center;
    margin-top: 26px;
    display: none;
}
.ul2::after {
    /*mój trójkąt który jest dołączony do listy*/
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    display: block;
    position: absolute;
    margin-top: -94px;
    margin-left: 50px;
}
.trojkat {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: relative;
    margin-left: 100px;
}
.ofirmie:hover .ul2 {
    display: block;
}
dl {
  display: block;
}
dt {
  display: block;
}
dd {
  display: block;
}
/*810 85*/
.green_nav {
  background-color: #28cfb5;
  width: 670px;
  height: 70px;
  color: white;
  border: 1px solid #048f71;
}
.tr_button {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid white;
  margin-top: -50px;
  margin-left: 610px;
  display: inline-block;
}
h1 {
  font-size: 35px;
}
.swiat {
  font-size: 30px;
  padding-left: 30px;
  position: relative;
  display: inline-block;
}
.co_mowia {
  font-size: 25px;
  font-weight: 300;
  position: absolute;
  display: inline-block;
  margin-left: 30px;
}
.white_nav {
  width: 628px;
  margin-top: 30px;
  padding: 20px;
}
.flex_container {
    display: flex;
    /* utrzymywanie w kolumnie lub wierszu*/
    flex-direction: column;
    justify-content: flex-start;
}
.div_footer {
  color: #cccccc;
margin-top: 500px;
}
.s_o_c {
    color: #cccccc;
    font-size: 20px;
    float: right;
margin-top: -50px;
}
.warszawa {
  margin-top: 24px;
}
